{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>traffic[F]low</title>
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,800' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{% static 'general.css' %}"/>
<script src="{% static 'prototype.js' %}"></script>
<script src="{% static 'jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'utils.js' %}"></script>
<script type="text/javascript" src="{% static 'ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'others.js' %}"></script>
<script type="text/javascript" src="{% static 'map.js' %}"></script>
<script type="text/javascript" src="{% static 'graph.js' %}"></script>
<script type="text/javascript" src="{% static 'tasks.js' %}"></script>
<script type="text/javascript" src="{% static 'coords.js' %}"></script>
<script type="text/javascript" src="{% static 'geolocation.js' %}"></script>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
<script>
    jQuery.noConflict();
</script>
</head>
<body>
    <header>
        <summary>
            <a href="./">
                <p id="title"><span id="part1">traffic</span><span id="part2">[F]</span><span id="part3">low</span></p>
                <p id="license">The maps data © OpenStreetMap contributors</p>
            </a>
        </summary>
        <nav>
            {% if not user.is_authenticated %}
            <p id="auth-state">You are not signed in.</p>
            <a class="highlighted" href="./sign_in">Sign in</a>
            <a href="./sign_up">Sign up</a>
            {% else %}
            <p id="auth-state">You are signed in as <span>{{ user.username }}</span>.</p>
            {% if user.is_superuser %}
            <a href="./create_exemplary_data">Reset data</a>
            {% endif %}
            <a href="./sign_out">Sign out</a>
            {% endif %}
        </nav>
    </header>
    {% block body %}

    {% endblock %}
    <div id="info-box"></div>
</body>
</html>